<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>字符串扩展</title>
</head>
<body>
    <p>
        1. 新增方法 codePointAt() <br />
        2. fromCodePoint() <br />
        3. includes(), startsWith(), endsWith(); <br />
        4. repeat() 返回一个新字符串，表示将原字符串重复N次<br />
        5. 使用模板字符串, 使用反引号标识``
    </p>

    <div id="add"></div>

    <script>
        let sDemo = 'https://www.lms.com';

        //es5 判断一个字符串是否存在另一个字符串中
        if(sDemo.indexOf('//') !== -1){
            console.log(sDemo.charAt(8));
        }

        if(sDemo.includes('https') === true){
            console.log('includes');
        }

        let sTemplate = `<div class="cls">${ sDemo }</div>`

        document.getElementById('add').innerHTML = sTemplate;

        function compile(template){
            const evalExpr = /<%=(.+?)%>/g;
            const expr = /<%([\s\S]+?)%>/g;

            template = template
                .replace(evalExpr, '`); \n  echo( $1 ); \n  echo(`')
                .replace(expr, '`); \n $1 \n  echo(`');

            template = 'echo(`' + template + '`);';

            let script = `(function parse(data){
                    let output = "";

                    function echo(html){
                      output += html;
                    }

                    ${ template }

                    return output;
                })`;

            return script;
        }
        let template = `
            <ul>
              <% for(let i=0; i < data.supplies.length; i++) { %>
                <li><%= data.supplies[i] %></li>
              <% } %>
            </ul>
            `;

        let parse = eval(compile(template));


        //console.log(parse({ supplies: [ "broom", "mop", "cleaner" ] }));

        //call apply用法
        function callFn() {
            this.class = 'cls'
            this.name = 'ximing11';
            this.age = '88';
            this.getName = function () {
                return console.log(this.name, this.age);
            }
        }
        function pFn(){};
        pFn.prototype = {
            name: 'xiao',
            age: '20111'
        }

        pFn.prototype.getFn = function () {
            callFn.call(this);
            console.log(this.age);
        }

        let dd = new pFn();
        dd.getFn();
        dd.getName();

        function bFn() {
            callFn.apply(this);
            this.getClass = function () {
                return console.log(this.class);
            };
        }
        let c = new bFn()
        c.getClass();
        c.getName();
        //c.getAge();



        // 数组
        var arr = [1,2,2,3,3,3,4,555,3,4,5,5,5,555]
        var oObj = {};
        var news = []
        for(var s = 0; s < arr.length; s++){
            (arr[s] in oObj) ? oObj[arr[s]]++ : oObj[arr[s]] = 1;
        }
        for (var x in oObj) {
            if (oObj[x] == 1) {
                news.push(x);
            }
        }
        console.log('news:',news)


        var a = [1, 2, 3, 3, 3, 4, 5, 6, 7];
        var b = [1, 2, 5];
        var cArr = [];
        var tmp = a.concat(b);
        var o = {};
        for (var s = 0; s < tmp.length; s++) {
            (tmp[s] in o) ? o[tmp[s]]++ : o[tmp[s]] = 1;
        }
        for (var x in o) {
            if (o[x] == 1) {
                cArr.push(x);
            }
        }
        console.log(cArr);

    </script>

</body>
</html>